<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>GMRPlayer</title>

<script type="text/javascript" src="http://namtao.com/gmr/v2/swfobject.js"></script>
		<script type="text/javascript">
			var flashvars = {};
			var params = {};
			var attributes = {};
			attributes.id = "GMRPlayer";
			swfobject.embedSWF("/gmr/static/GMRplayer.swf", "myAlternativeContent", "0", "0", "9.0.0", false, flashvars, params, attributes);

//
//
  
     var jsReady = false;
     function flashIsReady() {
        //alert('flashIsReady');
        return jsReady;
     }
     
     function pageInit() {
         jsReady = true;
         //document.forms["form1"].output.value += "\n" + "JavaScript is ready.\n";
     }
     
     function thisMovie(movieName) {
         if (navigator.appName.indexOf("Microsoft") != -1) {
             return window[movieName];
         } else {
             return document[movieName];
         }
     }

    /* JS -> Flash */
     function play(url) {
         thisMovie("GMRPlayer").play(url);
     }
     
     function stop() {
         thisMovie("GMRPlayer").stop();
     }
     
     function pause() {
         thisMovie("GMRPlayer").pause();
     }

    /* Flash -> JS */
    function progress(currentTime) {
        document.getElementById('seconds').innerHTML = currentTime;
        document.getElementById('seconds').style.textIndent = currentTime + "px";
        console.log(currentTime);
    }
    
    function soundComplete() {
        console.log('Sound Complete');
    }
    
    function loadComplete() {
        console.log('Load Complete');
    }
    
    function playabckStart() {
        console.log('Playback Started');
    }

     function sendToJavaScript(value) {
         document.forms["form1"].output.value += "ActionScript says: " + value + "\n";
     }
 </script>
</head>

<body onload="pageInit();">

<div id="myAlternativeContent">
			<a href="http://www.adobe.com/go/getflashplayer">
				<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			</a>
		</div>

    <p>
        <input type="submit" onclick="play('http://namtao.com/tracks/The_Staunton_Lick.mp3');" value="The Staunton Lick" />
        <input type="submit" onclick="play('http://namtao.com/tracks/6s.mp3');" value="Six Seconds" />
    </p>
    <p>
        <input type="submit" onclick="stop();" value="Stop" />
        <input type="submit" onclick="pause();" value="Pause" />        
    </p>

    <p id="seconds">-</p>

</body>
</html>
