{{extend 'basic.html'}}

{{def mainContent():}}
    <div id="gmrIntro">
        <h1>Game Master Radio</h1>
        <p>GMR is a radio service designed especially for Game-Masters of table-top games. We provide a library of excellent, non-vocal music which you can tailor to suit your own game-world. </p>
    </div>
    <div id="library" class="layout33 homeBox">
        <h2>Music Library</h2>
        <p>GMR is building a world-class collection of non-vocal music especially aimed at table-top gaming. Our ever-expanding catalogue will allow you to choose the best music to compliment your games. </p>
    </div>
    <div id="PASS" class="layout33 homeBox">
        <h2>PASS Mood Selection</h2>
        <p>To make the process of finding the perfect music for your game as simple as possible, we have created the PASS system: each track has a user-voted score for <strong>P</strong>ositivity, <strong>A</strong>ggression, <strong>S</strong>peed and <strong>S</strong>uspence making it possible to find tracks fitting over 5000 specific moods. </p>
    </div>
    <div id="composers" class="layout33 homeBox">
        <h2>Composers!</h2>
        <p>Can you compose great, non-vocal music that table-top gamers would like to hear in their games? Do you want the chance to make money from your compositions? If so then <a href="mailto:composers@gamemasterradio.com"><strong>GMR needs you!</strong></a></p>
    </div>
{{return}}

