<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
  <head>
    <title>{{=response.title or request.application}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="{{=response.keywords}}" />
    <meta name="description" content="{{=response.description}}" />
    <meta name="author" content="{{=response.author}}" />

    {{include 'web2py_ajax.html'}}
    <script language="javascript" src="/{{=request.application}}/static/js/jquery-ui-1.7.2.custom.js"></script>
    <script language="javascript" src="/{{=request.application}}/static/js/ui.sortable.js"></script>    


    <link href="{{=URL(r=request, c='static/css', f='base.css')}}" rel="stylesheet" type="text/css"/>

    
  </head>
  <body>
    <div id="wrapper">
        <div id="header">
            <div id="headerInner">
                <img id="logo" src="{{=URL(request.application,'static','gmr.png')}}" alt="" title="GMR - Music for your worlds" />
                <h1>{{=A(response.title or request.application, _href=URL(request.application,'default','index'))}}</h1>
                <span class="subtitle">{{=response.subtitle or ''}}</span>
            </div>

        </div>

        <div id="mainContent" class="admin">
            {{ include }}
        </div>

        <!--<div id="footer">
            <p>{{=T('Copyright')}} &copy; Game Master Radio 2009</p>
            <p><a href="http://nefariousapparatus.com/" target="_blank">Nefarious Apparatus</a></p>
            <p>Debug Info: {{='/'.join(['',request.application,request.controller,request.function]+request.args)}}</p>
        </div>-->
    </div>
    </body>
</html>
