<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{=T.accepted_language or 'en'}}">
  <head>
    <title>{{=response.title or request.application}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />     
    {{response.files.append(URL(request.application,'static','base.css'))}}
    {{include 'web2py_ajax.html'}}
  </head>
  <body>
    <div id="wrapper">
        <div id="header">
            <h1>{{=A(response.title or request.application, _href=URL(request.application,'default','index'))}}</h1>
            <span class="subtitle">{{=response.subtitle or ''}}</span>
{{='/'.join(['',request.application,request.controller,request.function]+request.args)}}
        </div>

        <div id="mainContent">
            <div class="flash">{{=response.flash or ''}}</div>

            {{include}}

        </div>

        <div id="footer">
            {{=T('Copyright')}} &copy; 2009
        </div>
    </div>
</html>
