<link href="{{=URL(r=request, c='static/css/jquery', f='ui.all.css')}}" rel="stylesheet" type="text/css"/>    
<script type="text/JavaScript" src="{{=URL(r=request,c='static/js',f='ui.core.js')}}"></script>
<script type="text/JavaScript" src="{{=URL(r=request,c='static/js',f='ui.slider.js')}}"></script>

<script type="text/JavaScript">

    function playPASS(positivity, aggression, speed, suspense ) {
    //Loads a PASS playlist into #currentPlaylistContainer and calls play()
        {{ if DEBUG: }}
            console.log('PASS Ajax request made: ' + 'P - ' + positivity + ', A - ' + aggression + ', S - ' + speed + ', S - ' + suspense);
        {{ pass }}
        $('#currentPlaylistContainer').load(
            '/{{=request.application}}/radio/queuePASS/' + positivity + '/' + aggression + '/' + speed + '/' + suspense + '/',
            function() {
                $('#currentPlaylistContainer ul.playlist').sortable({
                    handle : '.handle',
                    update : function () {}
                });
                $('#currentPlaylistContainer ul.playlist li:first-child').addClass('current');
                play();
            }
        );

        {{ if DEBUG: }}
            console.log('Response recieved, triggering autoplay of next track');
        {{ pass }}
        next();
    }

    function previewPlaylist( positivity, aggression, speed, suspense ) {
    //Loads a preview PASS playlist into #previewPlaylist
        {{ if DEBUG: }}
            console.log('PASS Ajax request made: ' + 'P - ' + positivity + ', A - ' + aggression + ', S - ' + speed + ', S - ' + suspense);
        {{ pass }}

        $('#previewPlaylistContainer').load(
            '/{{=request.application}}/radio/queuePASS/' + positivity + '/' + aggression + '/' + speed + '/' + suspense + '/',
            function() {
                $('#previewPlaylistContainer ul.playlist').sortable({
                    handle : '.handle',
                    update : function () {}
                });
            }
        );
    }

    function savePlaylist(elementID, playlistName, playlistID) {
    //Saves a playlist from the element specified using elementID
        url = '/{{=request.application}}/radio/updatePlaylist/' + playlistID + '/' + playlistName + '/';

        for ( var counter = 0; counter < $('#' + elementID + ' .id').length; counter++ ) {
             url += $('#' + elementID + ' .id')[counter].value + '/';
        }
        {{ if DEBUG: }}
            console.log('Playlist order to save: ' + url);
        {{ pass }}

        $.ajax({
           type: 'POST',
           url: url,
           success: function(){
                {{ if DEBUG: }}
                    console.log('Ordered playlist sent');
                {{ pass }}
                alert('Playlist Saved');
           }
         });

         $('playlistTab').load('/{{=request.application}}/radio/playlistTab.html');
        
    }

    function randmisePASS() {
    //TODO: Fix me! (Doesn't randomise values of xhtml form, just sliders)
        randomNum = Math.floor(Math.random()*10);
        $("#sliderPositivity").slider('value', randomNum);
        $('#id_positivity').val(randomNum);
        randomNum = Math.floor(Math.random()*10);
        $("#sliderAggression").slider('value', randomNum);
        $('#id_aggression').val(randomNum);
        randomNum = Math.floor(Math.random()*10);
        $("#sliderSpeed").slider('value', randomNum);
        $('#id_speed').val(randomNum);
        randomNum = Math.floor(Math.random()*10);
        $("#sliderSuspense").slider('value', randomNum);
        $('#id_suspense').val(randomNum);
    }

</script>
