<link href="{{=URL(r=request, c='static/css/jquery', f='ui.all.css')}}" rel="stylesheet" type="text/css"/>    
<script type="text/JavaScript" src="{{=URL(r=request,c='static/js',f='ui.core.js')}}"></script>
<script type="text/JavaScript" src="{{=URL(r=request,c='static/js',f='ui.slider.js')}}"></script>

<script type="text/JavaScript">

    function playPlaylist(positivity, aggression, speed, suspense ) {
        {{ if DEBUG: }}
            console.log('PASS Ajax request made: ' + 'P - ' + positivity + ', A - ' + aggression + ', S - ' + speed + ', S - ' + suspense);
        {{ pass }}
        $.ajax({
          type: "GET",
          url: "/{{=request.application}}/radio/queuePlaylist/" + positivity + "/" + aggression + "/" + speed + "/" + suspense + "/"
        });
        {{ if DEBUG: }}
            console.log('Response recieved, triggering autoplay of next track');
        {{ pass }}
        next();
    }

    function previewPlaylist( positivity, aggression, speed, suspense, element ) {
        {{ if DEBUG: }}
            console.log('PASS Ajax request made: ' + 'P - ' + positivity + ', A - ' + aggression + ', S - ' + speed + ', S - ' + suspense);
        {{ pass }}
        
        $('#' + element).load(
            "/{{=request.application}}/radio/previewPlaylist/" + positivity + "/" + aggression + "/" + speed + "/" + suspense + "/",
            function() {
                {{ if DEBUG: }}
                    console.log('Preview playlist loaded');
                {{ pass }}
                $("#previewPlaylist").sortable({
                handle : '.handle',
                update : function () {}
        });
            }
        );
    }

    function savePlaylist(elementID, playlistName) {
        url = '/{{=request.application}}/radio/updatePlaylist/0/' + playlistName + '/';

        for ( var counter = 0; counter < $('#playlist .id').length; counter++ ) {
             url += $('#playlist .id')[counter].value + '/';
        }
        {{ if DEBUG: }}
            console.log('Playlist order to save: ' + url);
        {{ pass }}

        $.ajax({
           type: 'POST',
           url: url,
           success: function(){
                {{ if DEBUG: }}
                    console.log('Ordered playlist sent');
                {{ pass }}
           }
         });
        
    }

    function randmisePASS() {
       $("#sliderPositivity").slider('value', Math.floor(Math.random()*10));
       $("#sliderAggression").slider('value', Math.floor(Math.random()*10));
       $("#sliderSpeed").slider('value', Math.floor(Math.random()*10));
       $("#sliderSuspense").slider('value', Math.floor(Math.random()*10));
    }

</script>
