    <form action="." method="post" id="genreForm"> 
    <label for="id_speed">Speed:</label> <input id="id_speed" type="text" name="speed" maxlength="1" />
    <label for="id_combat">Combat:</label> <input id="id_combat" type="text" name="combat" maxlength="1" />
    <label for="id_suspense">Suspense:</label> <input id="id_suspense" type="text" name="suspense" maxlength="1" />
    <label for="id_positive">Positive:</label> <input id="id_positive" type="text" name="positive" maxlength="1" />
    <input type="submit" value="Listen..." /> 
    </form> 
 
    <form id="jsGenreForm" style="display: hidden;"> 
      <span class="jsGenreFormLabel">Slow</span> 
      <div id="sliderSpeedContainer"> 
        <div id="sliderSpeed"></div> 
      </div> 
      <span class="jsGenreFormLabel">Fast</span><br /><br /> 
      
      <span class="jsGenreFormLabel">Peace</span> 
      <div id="sliderCombatContainer"> 
        <div id="sliderCombat"></div> 
      </div> 
      <span class="jsGenreFormLabel">Combat</span><br /><br /> 
      
      <span class="jsGenreFormLabel">Relaxed</span> 
      <div id="sliderSuspenseContainer"> 
        <div id="sliderSuspense"></div> 
      </div> 
      <span class="jsGenreFormLabel">Suspense</span><br /><br /> 
      
      <span class="jsGenreFormLabel">Negative</span> 
      <div id="sliderPositiveContainer"> 
        <div id="sliderPositive"></div> 
      </div> 
      <span class="jsGenreFormLabel">Positive</span><br /><br /> 
      <input type="button" id="jsGenreFormSubmit" value="Listen..." /> 
    </form> 
