<script language="JavaScript">

     var state = "stopped";
     var jsReady = false;
     function flashIsReady() {
        //alert('flashIsReady');
        return jsReady;
     }
     function pageInit() {
         jsReady = true;
         //document.forms["form1"].output.value += "\n" + "JavaScript is ready.\n";
     }
     function thisMovie(movieName) {
         if (navigator.appName.indexOf("Microsoft") != -1) {
             return window[movieName];
         } else {
             return document[movieName];
         }
     }

    /* JS */
    function setState(newState) {
        state = newState;
        console.log('Current State: ' + newState);
        switch (newState) {
            case 'paused':
                $('#playerPause').text('Play');
                break;
            case 'playing':
                $('#playerPause').text('Pause');
                break;
            case 'stopped':
                $('#playerPause').text('Play');
                break;
        }
    }

    function lastTrack() {
        $('.trackName').text('End of playlist');
    }

    function play(url) {
        setState('playing');
        thisMovie("GMRPlayer").play(url);
    }
    function stop() {
        setState('stopped');
        thisMovie("GMRPlayer").stop();
    }

    function next() {
        $.getJSON('/gmr/default/nextTrack.json', function(data) {
            if (!data.end) {
                //Play and display the retrieved track
                play('{{=URL(r=request, f='download')}}' + '/' + data.track.mp3);
                $('.trackName').text(data.track.name);
                $('.trackArtist').load('{{=URL(r=request, f='jsArtistLookup')}}' + '/' + data.track.artist_id);
            } else {
                //No more tracks to play
                stop();
                lastTrack();
            }
        });
    }   



    function playPause() {
        switch(state) {
            case 'paused':
                setState('playing');
                thisMovie("GMRPlayer").pause();
                break;
            case 'playing':
                setState('paused');
                thisMovie("GMRPlayer").pause();
                break;
            case 'stopped':
                next();
                break;
        }
    }

    function progress(currentTime) {
        $('.trackSeconds').text(currentTime);
        console.log(currentTime);
    }
    function soundComplete() {
        console.log('Sound Complete');
        next();
    }
    function loadComplete() {
        console.log('Load Complete');
    }
    function playabckStart() {
        console.log('Playback Started');
    }

    function sendToJavaScript(value) {
     document.forms["form1"].output.value += "ActionScript says: " + value + "\n";
    }
</script>
