<div id="tabset">
    <ul>
        <li><a class="tab" href="#presetTab">Presets</a></li>
        <li><a class="tab" href="#playlistTab">Playlists</a></li>
        {{ if DEBUG: }}
        <li><a class="tab" href="#haxTab">Hax</a></li>
        {{ pass }}
    </ul>
    <div id="presetTab">
    </div>
    <div id="playlistTab">
    </div>
    {{ if DEBUG: }}
    <div id="haxTab">
        <p>HAX:</p>
        <p>
            <input type="submit" onclick="play('http://namtao.com/tracks/The_Staunton_Lick.mp3');" value="The Staunton Lick" />
            <input type="submit" onclick="play('http://namtao.com/tracks/6s.mp3');" value="Six Seconds" />
            <input type="submit" onclick="$('.idontcare').load('/gmr/default/getTracks/1/2/3/4');" value="Refresh Playlist" />
        </p>
    </div>
    {{ pass }}
</div>
