{% extends "base.html" %}

{% block title %}Game Master Radio{% endblock %}

{% block contentTitle %}Genre Selection{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/site_media/js/jquery/ui.core.js"></script>
  <script type="text/javascript" src="/site_media/js/jquery/ui.slider.js"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/jquery/ui.all.css" />
{% endblock %}

{% block documentready %}

  
  $("#genreForm").hide();
  $("#jsGenreForm").show();
  
  $("#sliderSpeed").slider({
			value:4,
			min: 0,
			max: 9,
			step: 1,
			slide: function(event, ui) {
				$("#id_speed").val(ui.value);
			}
  });
  $("#sliderCombat").slider({
			value:4,
			min: 0,
			max: 9,
			step: 1,
			slide: function(event, ui) {
				$("#id_combat").val(ui.value);
			}
  });
  $("#sliderSuspense").slider({
			value:4,
			min: 0,
			max: 9,
			step: 1,
			slide: function(event, ui) {
				$("#id_suspense").val(ui.value);
			}
  });
  $("#sliderPositive").slider({
			value:4,
			min: 0,
			max: 9,
			step: 1,
			slide: function(event, ui) {
				$("#id_positive").val(ui.value);
			}
  });
  
  $("#jsGenreFormSubmit").click(function(){
    $("#id_suspense").val("3");
      $("#genreForm input[type='submit']").trigger('click');
  });
{% endblock %}

{% block content %}

    {% if error %}
     
    {{ error }}
     
    {% endif %}
    <form action="." method="post" id="genreForm">
    {{ form.as_p }}
    <input type="submit" value="Listen..." />
    </form>

    <form id="jsGenreForm" style="display: hidden;">
      <span class="jsGenreFormLabel">Slow</span>
      <div id="sliderSpeedContainer">
        <div id="sliderSpeed"></div>
      </div>
      <span class="jsGenreFormLabel">Fast</span><br /><br />
      
      <span class="jsGenreFormLabel">Peace</span>
      <div id="sliderCombatContainer">
        <div id="sliderCombat"></div>
      </div>
      <span class="jsGenreFormLabel">Combat</span><br /><br />
      
      <span class="jsGenreFormLabel">Relaxed</span>
      <div id="sliderSuspenseContainer">
        <div id="sliderSuspense"></div>
      </div>
      <span class="jsGenreFormLabel">Suspense</span><br /><br />
      
      <span class="jsGenreFormLabel">Negative</span>
      <div id="sliderPositiveContainer">
        <div id="sliderPositive"></div>
      </div>
      <span class="jsGenreFormLabel">Positive</span><br /><br />
      <input type="button" id="jsGenreFormSubmit" value="Listen..." />
    </form>

{% endblock %}
