{% extends "base.html" %}

{% block title %}Game Master Radio{% endblock %}

{% block contentTitle %}{{ track.artist }} - {{ track.name }}{% endblock %}

{% block documentready %}

{% endblock %}

{% block content %}

    <img src="{{ track.art }}" alt="Album Art - {{ track.artist }} - {{ track.name }}" class="album-art" />
    <p>Artist: <strong>{{ track.artist }}</strong></p>
    <p>Track: <strong>{{ track.name }}</strong></p>
    <p>Genre Scores (0-9):</p>
    <script type="text/javascript">
        function nudge(genreVal, upVal, trackIDVal){
          $.post("/radio/nudge/", 
            { genreVar: genreVal, up: upVal, id: trackIDVal },
              function(data) {
                if (data != "FAIL") {
                  $('gSpeed').html("monkey");
                  console.log(data);
                  
                }
              }
          );
        }
    </script>
    <div id="trackinfo">
    <span class="genreLabel">Speed:</span><span id="gSpeed" class="genreScore">{{ track.gSpeed }}</span>
    {% if not speedIsMin %}<a class="genreButton btndown" id="speedDown" onClick="nudge('gSpeed', 'False', '{{ track.id }}');" href="#">DOWN</a>{% endif %}
    {% if not speedIsMax %}<a class="genreButton btnup" id="speedUp" onClick="nudge('gSpeed', 'True', '{{ track.id }}');" href="#">UP</a>{% endif %}<br>
    
    <span class="genreLabel">Combat:</span><span id="gCombat" class="genreScore">{{ track.gCombat }}</span>
    {% if not combatIsMin %}<a class="genreButton btndown" id="combatDown" onClick="nudge('gCombat', 'False', '{{ track.id }}');" href="#">DOWN</a>{% endif %}
    {% if not combatIsMax %}<a class="genreButton btnup" id="combatUp" onClick="nudge('gCombat', 'True', '{{ track.id }}');" href="#">UP</a>{% endif %}<br>
    
    <span class="genreLabel">Suspense:</span><span id="gSuspense" class="genreScore">{{ track.gSuspense }}</span>
    {% if not suspenseIsMin %}<a class="genreButton btndown" id="suspenseDown" onClick="nudge('gSuspense', 'False', '{{ track.id }}');"  href="#">DOWN</a>{% endif %}
    {% if not suspenseIsMax %}<a class="genreButton btnup" id="suspenseUp" onClick="nudge('gSuspense', 'True', '{{ track.id }}');" href="#">UP</a>{% endif %}<br>
    
    <span class="genreLabel">Positive:</span><span id="gPositive" class="genreScore">{{ track.gPositive }}</span>
    {% if not positiveIsMin %}<a class="genreButton btndown" id="positiveDown" onClick="nudge('gPositive', 'False', '{{ track.id }}');"  href="#">DOWN</a>{% endif %}
    {% if not positiveIsMax %}<a class="genreButton btnup" id="positiveUp" onClick="nudge('gPositive', 'True', '{{ track.id }}');"  href="#">UP</a>{% endif %}
    
    <div class="clearfix"></div>
    </div>
{% endblock %}
