/* <RESET> */

html {
	color: #000;
	background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
	font-style: inherit;
	font-weight: inherit;
}

del,
ins {
	text-decoration: none;
}

li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,
q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: baseline;
}

sub {
	vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
	color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input,
button,
textarea,
select {
	*font-size: 100%;
}

html {
    font-size: 10px; /* reset for easy EM calculation */
}

/* </RESET> */

/* <CONSTANTS> */

.layout33 {
    float: left;
    width: 33.29%;
}

/* </CONSTANTS> */

/* <LAYOUT> */

html, body {
    height: 100%;
}

#wrapper {
    min-width: 900px;
    position:relative;

	height: 100%;
}

#header {
    width: 100%;
    height: 120px;
    position: relative;
}

#headerInner {

}

#nav {
    height: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#nav ul {
    
}

#nav ul li {
    width: 10em;
    float: left;
}

#mainContent {
    height: 100%;
}

.column {
    height: 100%;
}

.preset {
    float: left;
    width: 175px;
    height: 25px;
}

#footer {
    clear: both;
    height: 100px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

/* </LAYOUT> */



/* <TEXT> */

body {
    font-family: arial, helvetica, sans-serif;
}

/* </TEXT> */



/* <DECORATION> */

#header {
    background-color: #dddddd;
    border-bottom : 3px solid #333333;
}

#header img {
    float: left;
    margin: 1em;
}

.subtitle {
    font-size: 1.4em;
    font-style: italic;
}

#nav ul li {
    height: 40px;
}

#nav ul li a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 1.5em;
}

#nav ul li a:hover {
    background-color: #dddddd;
}

.column {

}

#footer {
    border-top: 3px solid #333333;
    background-color: #dddddd;
}

h1 {
    padding-top: 1em;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    display: block;
    width: 100%;
    border-bottom: 1px solid #000000;
}

p {
    font-size: 1.6em;
}

.button {
    display: block;
    width: 75px;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    font-size: 1.8em;
    text-decoration: none;
    text-align: center;
    float: left;
    margin: 5px;
}

.label {
    float: left;
    font-size: 1.6em;
    width: 100%;
    margin-top: 10px;
}

.labelHigh {
    float: left;
    width: 15%;
    font-size: 1.4em;
}

.labelLow {
    float: left;
    width: 15%;
    font-size: 1.4em;
}

.slider {
    width: 69.9%;
    float: left;
}

.buttons {
    clear: both;
}

.preset {
    color: #ffffff;
    font-weight: bold;
    line-height: 25px;
    border: 2px solid #333333;
    background-color: #777777;
    margin: 15px;
}

.preset .histogram {
    float: right;
}

/* </DECORATION> */



/* <> */

/* </> */




/* <TEST> */
#content1 {
    background-color: #cccccc;
}

#content2 {
    background-color: #dddddd;
}

#content3 {
    background-color: #eeeeee;
}

#nav {
    background-color: #cccccc;
}

#nav ul li {
    background-color: #333333;
}
/* </TEST> */
