{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block contentTitle %}Blog{% endblock %}
{% block content %}
{% for entry in latest %}
	<h2><a href="{{entry.get_absolute_url}}">{{ entry.title }}</a></h2>
	<p>{{ entry.pub_date }}</p>
	 {{ entry.body_html|truncatewords_html:"20"|safe }}
	<p>tags: {% for tag in entry.get_tags%}<a href="/blog/tags/{{tag.name|slugify}}/">{{tag}}</a>, {% endfor %}</p>
	<p><a href="{{entry.get_absolute_url}}">read more</a></p>
{% endfor %}
{% endblock %}
