<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="title" content="{% block meta-title %}Game Master Radio - Dynamic music for RPG and tabletop gaming{% endblock %}" />
		<meta name="robots" content="{% block meta-robots %}index, follow{% endblock %}" />
		<meta name="keywords" content="{% block meta-content %}{% endblock %}" />
		<meta name="description" content="{% block meta-description %}{% endblock %}" />
		<meta name="language" content="en" />
    {% block css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/screen.css" />
		<title>{% block title %}Game Master Radio{% endblock %}</title>
	
		<script type="text/javascript" src="/site_media/js/jquery/jquery-1.3.2.js"></script>
    {% block scripts %}{% endblock %}
    	
		<script type="text/javascript">
      $(document).ready(function()
      {
      
      {% block documentready %}{% endblock %}
      
      {% if user.is_authenticated %}	
        /* Pop-out Contact Form */

        $('.btn-slide').toggle(
        function()
        {
          $('#contact').animate({
            marginLeft: "0px", 
          }, 500);
          $("#subject").removeAttr("disabled");
          $("#subject").val("");      
          $("#description").removeAttr("disabled");
          $("#description").val("");
          $("#feedbackSubmit").show();
          $('#feedbackSuccess').hide()
        },
        function()
        {
          $('#contact').animate({
            marginLeft: "-300px", 
          }, 500);
        });

        /* Feedback Form Submit */
        $("#feedbackSubmit").click(function(){
          $("#feedbackError").hide();
          $("#subject").attr("disabled", true);
          $("#description").attr("disabled", true);

          
          //if(hasError == false) { TODO: Client-side validation
          if(true){
	          $(this).hide();
	          $("#feedbackLoading").show();
          }
          
          var subjectVal = $("input#subject").val();
          var descriptionVal = $("input#description").val();
          var urlVal = window.location.pathname;    
      
          $.post("/radio/contact/", 
            { subject: subjectVal, description: descriptionVal, url: urlVal },
              function(data) {
                $('#feedbackLoading').hide();
                $('#feedbackSuccess').hide();
                $('#feedbackSuccess').fadeIn(2000, function() { $('.btn-slide').trigger('click'); });
              }
          );
        {% endif %}
          return false;
        });
      });
      
		</script>
	</head>	
  
	<body id="home">
	  <div id="wrapper">
	    <div id="contentWrapper">
			  <div id="header">
          {% block loginStatus %}
            {% include "accounts/loginStatus.html" %}       
          {% endblock %}
				  <div id="branding">
					  <div id="logo"></div>
	          <span class="siteName">{% block headerCopy %}Game Master Radio{% endblock %}</span>
	          <span class="tagline">{% block headerTagline %}Music for your worlds{% endblock %}</span>
	        </div>
          {% block nav %}
            {% include "navigation.html" %}       
          {% endblock %}
	        </div>
        
          <div id="content">
				    <div class="main">
					    <div class="pod">
						    <div class="podHead">
							    <h1>{% block contentTitle %}{% endblock %}</h1>
						    </div>
						    <div class="podBody">
							    {% block content %}{% endblock %}
						    </div>
						    <div class="podFoot">
							
						    </div>
					    </div>
				    </div>
          </div>
			    <div id="footer">
				    <span class="copyright">All content &copy; GMR 2009 unless specifically stated.</span>
			    </div>
			  </div>
			  <div id="designBottom"></div>
      </div>

    {% if user.is_authenticated %}
      <div id="contactWrapper">
        <div id="contact">
          <form id="feedbackForm" action="">
            <h2>Feedback</h2>
            <p>We think that GMR rocks (and we're super-modest too).</p>
            <p>Agree? Disagree? Let us know why.</p>
            <p><label for="subject">Subject:</label><br /><input id="subject" type="text" name=""/></p>
            <p><label for="description">Your comments:</label><br /><input id="description" type="textarea" name=""/></p>
            <span class="buttons">
              <input id="feedbackSubmit" type="submit" value="Send" />
              <img id="feedbackLoading" src="/site_media/images/loading.gif" style="display: none;" />
            </span>
            <span id="feedbackSuccess" style="display: none;">Feedback sent, thank you.</span>
          </form>
        </div>
        <a href="#" id="btnContact" class="btn-slide" style="">Feedback...</a>
      </div>
    {% endif %}
    </body>
</html>

