<div id="presets">
    {{ for preset in presets: }}
        <div class="preset">
            <a href="#"  onclick="playPASS('{{=preset.positivity}}', '{{=preset.aggression}}', '{{=preset.speed}}', '{{=preset.suspense}}' );">
            <span class="presetName">{{=preset.name}}</span>
            </a>
            <div class="histogram">
                <span class="barPositivity bar{{=preset.positivity}}">{{=preset.positivity}}</span>
                <span class="barAggression bar{{=preset.aggression}}">{{=preset.aggression}}</span>
                <span class="barSpeed bar{{=preset.speed}}">{{=preset.speed}}</span>
                <span class="barSuspense bar{{=preset.suspense}}">{{=preset.suspense}}</span>
            </div>
            <a href="#" class="delete" onclick="deletePreset({{=preset.id}});">Delete</a>
        </div>
    {{ pass }}
</div>
